<?xml version="1.0" encoding="utf-8"?>
<packages>
<package id="flashplayerplugin" /> <package id="googlechrome " /> <package id="jre8" /> 
<package id="chocolatey-core.extension" /> 
<package id="7zip.install
" /> <package id="adobeair
" /> <package id="flashplayeractivex
" /> <package id="javaruntime
" /> <package id="notepadplusplus.install
" /> <package id="nodejs.install 
" /> <package id="git.install 
" /> <package id="putty.install 
" /> <package id="silverlight
" /> <package id="dotnet4.5
" /> <package id="curl
" /> <package id="dotnet3.5
" /> <package id="procexp
" /> <package id="vcredist2010
" /> <package id="vcredist2012
" /> <package id="vcredist2013
" /> <package id="vcredist2015
" /> <package id="vcredist2018
" /> <package id="winscp
" /> <package id="nssm
" /> <package id="foxitreader
 " /> <package id="python
 " /> <package id="kb2999226
 " /> <package id="dotnet4.0
 " /> <package id="windirstat
 " /> <package id="python3
 " /> <package id="awscli
 " /> <package id="kb3035131
 " /> <package id="poshgit
 " /> <package id="irfanview
 " /> <package id="dotnet4.6.1
 " /> <package id="boxstarter
 " /> <package id="google-chrome-x64
" /> <package id="nuget.commandline
" /> <package id="microsoft-build-tool
" /> <package id="conemu
" /> <package id="php
" /> <package id="nodejs
" /> <package id="wget
" /> <package id="inkscape
" /> <package id="malwarebytes
" /> <package id="python2
" /> <package id="kb2919442
" /> <package id="kb2919355
" /> <package id="visualstudiocode
" /> <package id="urlrewrite
" /> <package id="chocolateygui
 " /> <package id="teamviewer
" /> <package id="dropbox
" /> <package id="openssh
" /> <package id="paint.net
" /> <package id="activeperl
" /> <package id="boxstarter.common
" /> <package id="boxstarter.winconfig
" /> <package id="boxstarter.bootstrapper
" /> <package id="fiddler
" /> <package id="dotnet4.5.2
" /> <package id="sourcetree
 " /> <package id=" boxstarter.hyperv
 
 wixtoolset
<package id="eclipse" />
<package id="owncloud-client" version="1.1" />
<package id="iisexpress" version="8.0" source="webpi" />
<package id="bluegriffon" source="ruby" />
<package id="gradle.net" />
<package id=" vagrant" />
<package id=" citrix-receiver" />
<package id="dotnet4.5.1" /> <package id="musicbee" /> 
<package id="googledrive
" /> <package id="cyberfox
" /> <package id="visualstudio2013ultimate
" /> <package id="pycharm-community 
" /> <package id="webpi
" /> <package id="mysql
" /> <package id="yumi
" /> <package id="vcredist2017
" /> <package id="goodsync
" /> <package id="phpstorm
" /> <package id="spacesniffer
" /> <package id="adb
 " /> <package id="visualstudio2015community
" /> <package id="nmap
" /> <package id="dotnet4.6.2
" /> <package id="smartftp
" /> <package id="ffmpeg
" /> <package id="imagemagick
" /> <package id="sharpkeys
" /> <package id="ardev
 " /> <package id="drmemory.install 
" /> <package id="tortoisesvn
" /> <package id="android-sdk
" /> <package id="powerisoprocmon
" /> <package id="mavernprocmon
" /> <package id="phantomjs
" /> <package id="procmon
" /> <package id="arduino
" /> <package id="vuzeclient
" /> <package id="filebot
" /> <package id="plexmediaserver
" /> <package id="plexpy
" /> <package id="uas-plex
" /> <package id="plexmediaserver
" /> <package id="tidypirate
" /> <package id="isoplex
" /> <package id="irscrutinizer
" /> <package id="androidstudio
" /> <package id="epsdevtools.webexff
" /> <package id="vmwareworkstation
" /> <package id="webstorm
" /> <package id="intellijidea-community 
 " /> <package id="intellijidea-ultimate
 " /> <package id="webexff
" /> <package id="mobaxterm
" />
 </packages>